.paper-container {
  width: 100% !important;
  position: relative !important;
  border-radius: 10px !important;
  //   .table-container {
  //     max-height: 740 !important;
  //   }
}

.date-picker {
  label {
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
  }
  & > div {
    background-color: rgba(85, 85, 85, 0.1);
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 4px 8px !important;
  }
}
