$primary-color: #1976d2;
$secondary-color: #f2f5f5;
$tertiary-color: #9c27b0;

$color-text: #565360;
$color-label: #908e9b;
$color-disabled: #e1dfe9;

$length-sm1: 0.25rem;
$length-sm2: 0.375rem;
$length-sm3: 0.5rem;
$length-sm4: 0.75rem;

$length-md1: 1rem;
$length-md2: 1.25rem;
$length-md3: 1.5rem;

$length-lg1: 2rem;
$length-lg2: 3rem;
$length-lg3: 4rem;
