@import "../../configs/StylePalette.scss";

.paper-container {
  width: 100% !important;
  position: relative !important;
  border-radius: 0.75rem !important;
  //   .table-container {
  //     max-height: 740 !important;
  //   }
  .table-cell-default {
    padding: $length-sm4 $length-lg1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25vw;
  }
  .table-cell-action {
    padding: 0 $length-md1;
    width: 8rem;
  }
}

.table-pagination {
  background-color: rgba(85, 85, 85, 0.02);
  border-radius: 0 0 0.75rem 0.75rem;
}

.artist-input-box {
  border-bottom: 1px dashed rgba(197, 196, 196, 0.8);
  margin: 0rem $length-sm1 !important;
  div {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 15px 0px !important;
  }
}
