.add-poster-container {
  .posters-typo {
    font-size: 0.75rem !important;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.6);
  }
  .add-poster-field {
    min-height: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(85, 85, 85, 0.1);
    border: 1px dashed rgba(197, 196, 196, 0.8);
    border-radius: 4px;
    padding: 8px;

    .poster-head {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: 8px;
      margin-bottom: 8px;
    }

    .poster-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-top: 1px solid rgba(85, 85, 85, 0.25) !important;
      background-color: rgba(85, 85, 85, 0.1);
      .list-item {
        display: flex;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;

        div {
          span,
          p {
            font-size: 0.75rem !important;
          }
        }
      }
    }
  }
}
