@import "../../configs/StylePalette.scss";

.add-poster-container {
  .posters-typo {
    font-size: 0.75rem !important;
    padding-bottom: 6px;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.6);
  }
  .add-poster-field {
    min-height: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(85, 85, 85, 0.1);
    border: 1px dashed rgba(197, 196, 196, 0.8);
    border-radius: $length-sm1;
    padding: $length-sm3;

    .poster-head {
      display: flex;
      align-items: center;
      justify-content: left;
      gap: $length-sm3;
      margin-bottom: $length-sm3;
    }

    .poster-list {
      display: flex;
      flex-direction: column;
      gap: $length-sm3;
      border-top: 1px solid rgba(85, 85, 85, 0.25) !important;
      background-color: rgba(85, 85, 85, 0.1);
      .list-item {
        padding-left: 0;
        div button {
          margin-right: -$length-md3 !important;
        }

        div {
          span,
          p {
            font-size: 0.75rem !important;
          }
        }
      }
    }
  }
}
