.auto-complete {
  padding-bottom: 5px !important;
  label {
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
  }
  & > div {
    background-color: rgba(85, 85, 85, 0.1);
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 8px !important;
    input {
      padding: 3px 0 !important;
      font-size: 0.75rem;
    }
  }
}
