.table-header {
  border-bottom: none;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  background-color: rgba(247, 247, 247, 0.6);
  padding: 13px 18px;
  border-radius: 20px 20px 0px 0px;
}
