.table-header {
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(85, 85, 85, 0.02);
  padding: 32px 24px;
  border-radius: 0.75rem 0.75rem 0 0;
}
