@import "./configs/StylePalette.scss";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: $secondary-color !important;
}

@media (max-height: 700px) {
  html {
    font-size: 14px !important;
  }
}
